<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ meta.title }}</title>
  <meta name="description" content="{{ meta.description }}">
  <meta name="author" content="{{ meta.author }}">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<style>

  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

  body {
    font-family: 'Open Sans', 'Helvetica';
    color: #444;
  }
  .row {
    margin: 0;
  }
  #top {
    text-align: center;
    font-size: 0.7em;
    border-bottom: 1px solid  #2da4c4;
    padding-bottom: 3px;
  }

  a {
    color: #2da4c4;
  }

  a:hover {
    text-decoration: none;
    color: inherit;
  }

  .container * {

  }
  .container {
    width: 820px;
    margin-top: 20px;
    padding-left: 0;
    margin-bottom: 20px;
  }
  #name {
    margin-top: 20px;
  }
  #name h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #2da4c4;
    text-transform: uppercase;
  }

  #top img {
    height: 13px;
    vertical-align: middle;
    margin: 2px 5px;
  }
  .section {
    margin-top: 15px;
  }
  h2 {
    border-bottom: 1px solid #2da4c4;
    margin: 0 0 10px;
    padding-bottom: 10px;
    color: #2da4c4;
    font-size: 16px;
    font-weight: bold;

  }
  #experience {
    font-size: 14px;
  }
  .section .col-xs-3 {
    padding-left: 0;
  }
  .job {
    color: #2da4c4;
  }
  .company {
    font-size: 0.7em;
  }
  .company a {
    color: inherit;
  }
  .company a:hover {
    color: inherit;
    font-decoration: none;
  }
  .dates {
    font-size: 0.7em;
  }
</style>
<body>
<div class='container'>



  <header>
    <div id='top' class="row">
      <div class="col-xs-4"><img src='img/phone-icon.png' /><span>{{ meta.number }}</span></div>
      <div class="col-xs-4"><img src='img/mail-icon.png' /><span>{{ meta.email }}</span></div>
      <div class="col-xs-4"><img src='img/github-icon.png' /><span>{{ meta.web }}</span></div>
    </div>
    <div id='name' class="row">

        <h1>{{ meta.name }}</h1>

    </div>
  </header>

  <div id='summary' class='section'>
    <div class="row">
      <h2>SUMMARY</h2>
      {{#each summary}}
      <p>{{this}}</p>
      {{/each}}
      </p>
    </div>
  </div>

  <div id='expertise' class='section'>
    <div class="row">
      <h2>EXPERTISE</h2>
      {{#each expertise}}
      <p>{{this}}</p>
      {{/each}}
    </div>
  </div>

  <article id='experience' class='section'>
    <div class="row">
      <h2>EXPERIENCE</h2>
      {{#each experience}}
      <div class="row" class="position">
        <div class="col-xs-3">
          <div class='job'>{{ this.job }}</div>
          <div class='company'>{{ this.company }}</div>
          <div class='dates'>{{ this.dates }}</div>
        </div>
        <div class="col-xs-9">
          {{#each this.description}}
            <p>{{this}}</p>
          {{/each}}
        </div>
      </div>
      {{#unless @last}}
        <hr />
      {{/unless}}
      {{/each}}
  </article>

  <article id='projects' class='section'>
    <div class="row">
      <h2>RECENT PROJECTS</h2>
    </div>
    {{#each projects}}
    <div class="row" class="position">
      <div class="col-xs-3">
        <div class='job'>{{this.job}}</div>
        <div class='company'>{{this.url}}</div>
      </div>
      <div class="col-xs-9">
        {{#each this.description}}
          <p>{{this}}</p>
        {{/each}}
      </div>
    </div>
      {{#unless @last}}
        <hr />
      {{/unless}}
    {{/each}}
  </article>
</div>
</body>
</html>
